Repository turicas/covid19-br, pull requests merged in 2020-06, with the labels that each got.

#157 acrescenta links no Clipping (visualização e ferramenta)
  clipping.md
Labels: documentation

#160 Optimize Github Actions usage
  .github/workflows/pytest.yaml
Labels: automation

#173 Adiciona portal Censura Não ao clipping
  clipping.md
Labels: clipping

#174 inclui dashboard criado por Gyro UTFPR
  clipping.md
Labels: clipping

#179 Update clipping.md
  clipping.md
Labels: clipping

#181 Corrige verificação do goodtables
  .github/workflows/goodtables.yaml
  datapackage.json
  schema/boletim.csv
Labels: automation

#183 Update Publicacoes cientificas em clipping.md
  clipping.md
Labels: clipping
